:root {
  /* Neutral */
  --neutral-950: #000000;
  --neutral-900: #1f1f1f;
  --neutral-800: #2d2d2d;
  --neutral-700: #3a3a3a;
  --neutral-500: #757575;
  --neutral-200: #e9e9e9;
  --neutral-100: #f4f4f4;
  --neutral-0: #ffffff;

  /* Purple */
  --purple-600: #8f19e8;
  --purple-500: #a445ed;

  /* Red */
  --red-500: #ff5252;

  /* Font Sizes */
  --fs-preset-1: 2rem;
  --fs-preset-2: 1.5rem;
  --fs-preset-3: 1.25rem;
  --fs-preset-4: 1.125rem;
  --fs-preset-5: 1rem;
  --fs-preset-6: 0.9375rem;
  --fs-preset-7: 0.875rem;

  /* Font Weights  */
  --fw-preset-1: 700;
  --fw-preset-2-bold-italic: 700;
  --fw-preset-2-regular: 400;
  --fw-preset-3-bold: 700;
  --fw-preset-3-regular: 400;
  --fw-preset-4-bold: 700;
  --fw-preset-4-bold-italic: 700;
  --fw-preset-4-regular: 400;
  --fw-preset-5-bold: 700;
  --fw-preset-5-regular: 400;
  --fw-preset-6: 400;
  --fw-preset-7-bold: 700;
  --fw-preset-7-regular: 400;
}

/* FONTS */
[data-font="serif"] {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;

  /* Line Heights (mobile) */
  --lh-preset-1: 1.3;
  --lh-preset-2: 1.2;
  --lh-preset-3: 1.3;
  --lh-preset-4: 1.33;
  --lh-preset-4-bold-italic: 1.27;
  --lh-preset-5: 1.2;
  --lh-preset-6: 1.6;
  --lh-preset-7: 1.3;
  --lh-preset-7-bold: 1.7;

  /* Font Styles (mobile) */
  --fst-preset-2-bold-italic: italic;
  --fst-preset-4-bold-italic: italic;

  /* Letter Spacing (mobile) */
  --ls-preset-6: 0;
}

[data-font="sans"] {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  /* Line Heights (mobile) */
  --lh-preset-1: 1.2;
  --lh-preset-2: 1.2;
  --lh-preset-3: 1.2;
  --lh-preset-4: 1.33;
  --lh-preset-4-bold-italic: 1.22;
  --lh-preset-5: 1.2;
  --lh-preset-6: 1.6;
  --lh-preset-7: 1.2;
  --lh-preset-7-bold: 1.7;

  /* Font Styles (mobile) */
  --fst-preset-2-bold-italic: italic;
  --fst-preset-4-bold-italic: italic;

  /* Letter Spacing (mobile) */
  --ls-preset-6: 0;
}

[data-font="mono"] {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-style: normal;

  /* Line Heights (mobile) */
  --lh-preset-1: 1.05;
  --lh-preset-2: 1.04;
  --lh-preset-3: 1.05;
  --lh-preset-4: 1.33;
  --lh-preset-5: 1.05;
  --lh-preset-6: 1.6;
  --lh-preset-7: 1.07;
  --lh-preset-7-bold: 1.7;

  /* Font Styles (mobile) */
  --fst-preset-2-bold-italic: italic;

  /* Letter Spacing (mobile) */
  --ls-preset-6: -0.0144rem;
}

/* THEMES */

[data-theme="dark"] {
  --bg-primary: var(--neutral-950);
  --bg-secondary: var(--neutral-900);
  --text-primary: var(--neutral-0);
  --text-secondary: var(--neutral-500);
  --search-field: var(--neutral-900);
  --search-input: var(--neutral-500);
}
[data-theme="light"] {
  --bg-primary: var(--neutral-0);
  --bg-secondary: var(--neutral-100);
  --text-primary: var(--neutral-800);
  --text-secondary: var(--neutral-500);
  --search-field: var(--neutral-100);
  --search-input: var(--neutral-800);
}

/* BASE */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}
main {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 32px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
input[placeholder] {
  font-size: 16px;
}
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
h1 {
  color: var(--neutral-800);
}

p {
  font-style: italic;
  color: var(--neutral-500);
}

/* COMPONENTS */
.hidden {
  display: none;
}

.header__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.header__line {
  border-left: 0.0625rem solid var(--neutral-200);
  height: 2rem;
}
.header__font,
.header__theme {
  /* display: flex;
  align-items: center; */
  font-size: var(--fs-preset-7);
  font-weight: var(--fw-preset-7-bold);
  line-height: var(--lh-preset-7-bold);
}

/* TOGGLE */
.switch {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 1.25rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 0.9375rem;
  width: 0.9375rem;
  left: 0.1875rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--purple-500);
}

input:focus + .slider {
  box-shadow: 0 0 0.0625rem var(--purple-500);
}

input:checked + .slider:before {
  transform: translateX(calc(2.5rem - 0.9375rem - 2 * 0.1875rem))
    translateY(-50%);
}

/* Rounded sliders */
.slider.round {
  border-radius: 0.625rem;
}

.slider.round:before {
  border-radius: 50%;
}
/* TOGGLE */

/* .start-screen__message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.header__dark img {
  width: 20px;
}

.header__btn {
  background-color: transparent;
  border: transparent;
  padding: 0;
  display: flex;
  align-items: center;
}

.header__logo img {
  width: 28px;
}

.header__theme {
  /* display: flex;
  align-items: center; */
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.search {
  display: flex;
  justify-content: space-between;
  border: 0.0625rem solid transparent;
  background-color: var(--search-field);
  border-radius: 16px;
  padding-block: 16px;
  padding-inline: 24px;
}

.search--validation {
  border: 0.0625rem solid var(--red-500);
}
.search:hover,
.search:focus-within {
  border: 0.0625rem solid var(--purple-500);
}

.search__input {
  width: 100%;
  font: inherit;
  color: var(--search-input);
  font-weight: var(--fw-preset-5-bold);
  line-height: var(--lh-preset-5);
  font-size: var(--fs-preset-5);
}
.search__input:focus {
  outline: none;
}

.search__input,
.search__button {
  border: 0;
  background: transparent;
}

.empty {
  color: var(--red-500);
  font-size: var(--fs-preset-5);
  font-weight: var(--fw-preset-5-regular);
  line-height: var(--lh-preset-5);
}

.result {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.result__word-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.result__searched-word {
  font-size: var(--fs-preset-1);
  font-weight: var(--fw-preset-1);
  line-height: var(--lh-preset-1);
}
.result__phonetic {
  color: var(--purple-500);
  font-size: var(--fs-preset-4);
  font-weight: var(--fw-preset-4);
  line-height: var(--lh-preset-4);
}

.result__play {
  display: flex;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 0;
  background-color: transparent;
}

.lexical {
  display: flex;
  flex-direction: column;
}

.lexical__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-block-end: 32px;
}

.lexical__category {
  font-size: var(--fs-preset-4);
  font-weight: var(--fw-preset-4-bold-italic);
  line-height: var(--lh-preset-4-bold-italic);
  font-style: italic;
}

.lexical__line {
  border-bottom: 0.0625rem solid var(--neutral-200);
  width: 100%;
}
.lexical__meanings,
.synonyms__title {
  font-size: var(--fs-preset-5);
  font-weight: var(--fw-preset-5-regular);
  line-height: 100%;
  color: var(--neutral-500);
  margin-block-end: 32px;
}
.lexical__meanings {
  margin-block-end: 16px;
}

.lexical__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style-position: inside;
  margin-block-end: 24px;
}
.lexical__list li::marker {
  color: var(--purple-600);
}

.lexical__meaning {
  font-size: var(--fs-preset-6);
  font-weight: var(--fw-preset-6-regular);
  line-height: var(--lh-preset-6);
}
.synonyms {
  display: flex;
  align-items: baseline;
  gap: 24px;
}
.synonyms__value {
  font-size: var(--fs-preset-5);
  font-weight: var(--fw-preset-5-bold);
  line-height: var(--lh-preset-5);
  color: var(--purple-500);
}

.source {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.source__label,
.source__link {
  text-decoration: underline;
  text-underline-offset: 0.3125rem;
  font-size: var(--fs-preset-7);
  line-height: var(--lh-preset-7);
  font-weight: var(--fw-preset-7-regular);
  /* border-bottom: .0625rem solid var(--neutral-500); */
}

.source__label {
  color: var(--neutral-500);
}
.source__link {
  color: var(--text-primary);
}
